@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Kaisei+Decol&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
header{
    background-color: #FFB571;
    display: flex;
    width: 100vw;
    justify-content: space-between;
   
}
#imagem-inicial img{
    max-width: 100%;
    display: block;
}
.café img{
    width: 90vw;
    border-radius: 4vw;
}
#intro img{
    max-width: 100%;
    display: block;
}
#imagem-varios-cafes img{
    max-width: 100%;
    display: block;
}
.sobre img{
    width: 100vw;
    display: block;
    margin-top: 5vh;
}
#sobre-texto{
    background-color: #FFC46C;
}
#sobre-texto h1{
    text-align: center;
    font-family: 'League Gothic', sans-serif;
    font-size: 10vw;
    padding-top: 2vh;
}
#sobre-texto p{
    text-align: center;
    font-family: 'League Gothic', sans-serif;
    font-size: 9.1vw;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 4%;
    
}
#graos img{
    max-width: 100%;
    margin-top: 5vh;
}
#intro{
    margin-top: 5vh;
}
#texto-intro{
    background-color: #FFBE82;
    
}
#texto-intro h1{
    font-family:'League Gothic', sans-serif;
    text-align: right;
    font-size: 15vw;
    padding-right: 8.5vw;
}
main{
    background-color: #623918;
    padding-top: 2vh;
}
#bebidas{
    background-color: #FFB571;
    border-radius: 10vh;
    width: 75%;
    text-align: center;
    margin-left: 9.2vw;
    margin-top: 8vh;
    margin-bottom: 6vh;
    font-family:'Kaisei Decol', serif;
}
#bebidas h1{
    font-size: 8vw;
}
.bebidas{
    margin-left: 5vw;
}
.nome-bebida{
    background-color: #FFB571;
    border-radius: 10vh;
    width: 50%;
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 7vh;
    margin-left: 21vw;
    font-size: 3vw;
    font-family:'Kaisei Decol', serif;
}
.contato{
    margin-top: 5vh;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-bottom: 4vh;
    padding-top: 4.5vh;
    background-color: #FFCE84;
}
#contato{
    background-color: #FFB571;
    text-align: center;
    border-radius: 10vh;
    width: 50%;
    margin-left: 25%;
    font-family: 'Kaisei Decol', serif;
}
#contato h1{
    font-size: 8vw;
    margin-bottom: 2%;
}
.form{
    background-color: #FFB571;
    text-align: center;
    border-radius: 10vh;
    width: 35%;
    margin-left: 32vw;
    margin-top: 3vh;
    font-family: 'Kaisei Decol', serif;
}
.contato h3{
    font-size: 5vw;
}
.contato p{
    text-align: center;
    margin-top: 2vh;
    font-size: 5vw;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
}
.formulario{
    width: 85vw;
    height: 5vh;
    margin-left: 5vw;
    margin-top: 2vh;
    border-radius: 2vh;
}
#texto-formulario{
    width: 85vw;
    height: 15vh;
    margin-left: 5vw;
    margin-top: 2vh;
    border-radius: 2vh;
}
.botao{
    margin-left: 5vw;
    margin-top: 1vh;
    padding-bottom: 0.7%;
    background-color: #FFB571;
    border-radius: 10vh;
    width: 20vw;
    font-family: 'Kaisei Decol', serif;
    font-size: 3.5vw;
}
footer{
    background-color: #FFB571;
}
#logo2{
    width: 70vw;
    margin-left: 15vw;
}
#logo{
    padding-top: vh;
    padding-left: 1vw;
    width: 65vw;
}
#menu-hamburger{
    padding-right: 2vw;
    width: 15vw;
}
#social{
    margin-top: 3vh;
    margin-bottom: 3vh;
    width: 100%;
    justify-content: space-evenly;
    display: flex;
}
#social img{
    width: 10vw;
}
    

