@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Kaisei+Decol&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
#menu{
    display: none;
}
header{
    background-color: #FFB571;
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}
header .navbar ul{
    list-style: none;
    display: flex;
    justify-content: center;
}
header .navbar ul li{
    position: relative;
    float: left;
}
header .navbar ul li a{
    display: block;
    text-decoration: none;
    color: white;
    font-size: 3vw;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    padding: 0.5vw 3vw 0.5vw 3vw;
}
header .navbar ul li a:hover{
    background-color: white;
    color: black;
    border-radius: 10vh;
}
header .navbar{
    position: absolute;
    top: 10vw;
    background-color: #FFB571;
    width: 100vw;
    border-top: 0.1vw solid #525252;
}
header label{
    cursor: pointer;
    width: 20vw;
    display: contents;
}
.navbar{
    display: none;
}
#menu-bar{
    display: none;
}
#menu-bar:checked ~ .navbar{
    display: initial;
}
#imagem-inicial img{
    width: 100vw;
    display: block;
}
.café img{
    width: 90vw;
    border-radius: 4vw;
    box-shadow: 0vw 1vw #462a13ab;
}
#intro img{
    width: 100vw;
    display: block;
}
#imagem-varios-cafes img{
    max-width: 100%;
    display: block;
}
.sobre img{
    width: 100vw;
    display: block;
    margin-top: 5vh;
}
#sobre-texto{
    background-color: #FFC46C;
}
#sobre-texto h1{
    text-align: center;
    font-family: 'League Gothic', sans-serif;
    font-size: 10vw;
    padding-top: 2vh;
}
#sobre-texto p{
    text-align: center;
    font-family: 'League Gothic', sans-serif;
    font-size: 9.1vw;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 4%;
}
#graos img{
    max-width: 100%;
    margin-top: 5vh;
}
#intro{
    margin-top: 5vh;
}
#texto-intro{
    background-color: #FFBE82;
}
#texto-intro h1{
    font-family:'League Gothic', sans-serif;
    text-align: right;
    font-size: 15vw;
    padding-right: 8.5vw;
}
main{
    background-color: #623918;
    padding-top: 2vh;
}
#bebidas{
    background-color: #FFB571;
    border-radius: 10vh;
    width: 75%;
    text-align: center;
    margin-left: 9.2vw;
    margin-top: 7vh;
    margin-bottom: 6vh;
    font-family:'Kaisei Decol', serif;
    box-shadow: 0vw 1vw #462a13ab;
}
#bebidas h1{
    font-size: 8vw;
}
.bebidas{
    margin-left: 5vw;
}
.nome-bebida{
    background-color: #FFB571;
    border-radius: 10vh;
    width: 50%;
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 7vh;
    margin-left: 21vw;
    font-size: 3vw;
    font-family:'Kaisei Decol', serif;
    box-shadow: 0vw 1vw #462a13ab;
}
.contato{
    margin-top: 5vh;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-bottom: 4vh;
    padding-top: 4.5vh;
    background-color: #FFCE84;
}
#contato{
    background-color: #FFB571;
    text-align: center;
    border-radius: 10vh;
    width: 50%;
    margin-left: 25%;
    font-family: 'Kaisei Decol', serif;
    box-shadow: 0vw 1vw #81663d54;
}
#contato h1{
    font-size: 8vw;
    margin-bottom: 2%;
}
.form{
    background-color: #FFB571;
    text-align: center;
    border-radius: 10vh;
    width: 35%;
    margin-left: 31vw;
    margin-top: 3vh;
    font-family: 'Kaisei Decol', serif;
    box-shadow: 0vw 1vw #81663d54;
}
.contato h3{
    font-size: 5vw;
}
.contato p{
    text-align: center;
    margin-top: 2vh;
    font-size: 5vw;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
}
.formulario{
    width: 85vw;
    height: 5vh;
    margin-left: 5vw;
    margin-top: 2vh;
    border-radius: 1vh;
}
#texto-formulario{
    width: 85vw;
    height: 15vh;
    margin-left: 5vw;
    margin-top: 2vh;
    border-radius: 1vh;
}
.botao{
    margin-left: 5vw;
    margin-top: 1vh;
    padding-bottom: 0.7%;
    background-color: #FFB571;
    border-radius: 10vh;
    width: 20vw;
    font-family: 'Kaisei Decol', serif;
    font-size: 3.5vw;
}
footer{
    background-color: #FFB571;
}
#logo2{
    width: 70vw;
    margin-left: 15vw;
}
#logo{
    padding-left: 1.5vw;
    width: 50vw;
}
#menu-hamburger{
    padding-right: 1.5vw;
    width: 10vw;
}
#social{
    margin-top: 3vh;
    margin-bottom: 3vh;
    width: 100%;
    justify-content: space-evenly;
    display: flex;
}
#social img{
    width: 10vw;
}
#colunas{
    display: none;
}
#menu{
    display: none;
}

@media only screen and (min-width: 768px)
{
    #menu{
        display: initial;
        font-size: 1.5vw;
        margin-right: 1vw;
    }
    a{
        display: initial;
        text-decoration: none;
        font-family: 'IBM Plex Sans Thai Looped', sans-serif;
        color: white;
        padding: 0 2vw 0 2vw;
    }
    a:hover{
        background-color: white;
        color:black;
        border-radius: 10vh;
    }
    #menu-hamburger{
        display: none;
    }
    header{
        background-color: #FFB571;
        display: flex;
        width: 100vw;   
        align-items: center;
    }
    #imagem-inicial img{
        width: 100vw;
        display: block;
    }
    .café img{
        width: 90vw;
        border-radius: 4vw;
        box-shadow: 0vw 0.5vw #462a13ab;
    }
    #intro img{
        width: 100vw;
    }
    #imagem-varios-cafes img{
        width: 100vw;
        display: block;
    }
    .sobre{
        width: 100vw;
        display: flex;
        margin-top: 5vh;
    }
    .sobre img{
        width: 50vw;
        margin-top: 0;
    }
    #sobre-texto{
        width: 50vw;
        background-color: #FFC46C;
        padding-right: 1vw;
        padding-top: 1vw;
    }
    #sobre-texto h1{
        text-align: center;
        font-family: 'League Gothic', sans-serif;
        font-size: 7vw;
        padding-top: 2vh;
    }
    #sobre-texto p{
        text-align: center;
        font-family: 'League Gothic', sans-serif;
        font-size: 5vw;
        padding-left: 1vw;
        padding-right: 1vw;
        padding-bottom: 4%;
    }
    #graos img{
        max-width: 100%;
        margin-top: 5vh;
    }
    #intro{
        margin-top: 5vh;
        width: 100vw;
        background-color: #FFBE82;
        display: flex;
    }
    #texto-intro h1{
        font-family:'League Gothic', sans-serif;
        text-align: right;
        font-size: 8vw;
        padding-right: 4.4vw;
        padding-top: 1vw;
    }
    main{
        background-color: #623918;
        padding-top: 2vh;
    }
    #bebidas{
        background-color: #FFB571;
        border-radius: 10vh;
        width: 40%;
        text-align: center;
        margin-left: 29.5vw;
        margin-top: 8vh;
        margin-bottom: 10vh;
        font-family:'Kaisei Decol', serif;
        box-shadow: 0vw 0.3vw #462a13ab;
    }
    #bebidas h1{
        font-size: 4vw;
    }
    .nome-bebida{
        background-color: #FFB571;
        border-radius: 10vh;
        width: 40%;
        text-align: center;
        margin-top: 2vh;
        margin-bottom: 10vh;
        margin-left: 14.5vw;
        font-size: 1vw;
        font-family:'Kaisei Decol', serif;
        box-shadow: 0vw 0.3vw #462a13ab;
    }
    .contato{
        margin-top: 5vh;
        margin-left: 3vw;
        margin-right: 3vw;
        margin-bottom: 5vh;
        padding-top: 9vh;
        background-color: #FFCE84;
    }
    #contato{
        background-color: #FFB571;
        text-align: center;
        border-radius: 10vh;
        width: 40%;
        margin-left: 28vw;
        font-family: 'Kaisei Decol', serif;
        box-shadow: 0vw 0.3vw #81663d54;
    }
    #contato h1{
        font-size: 4vw;
        margin-bottom: 2%;
    }
    .form{
        background-color: #FFB571;
        text-align: center;
        border-radius: 10vh;
        width: 20vw;
        margin-left: 36.5vw;
        margin-top: 7vh;
        margin-bottom: 7vh;
        font-family: 'Kaisei Decol', serif;
        box-shadow: 0vw 0.3vw #81663d54;
    }
    .contato h3{
        font-size: 2vw;
    }
    .contato p{
        text-align: center;
        margin-top: 2vh;
        font-size: 3vw;
        font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    }
    .formulario{
        width: 85vw;
        height: 7vh;
        margin-left: 3.8vw;
        margin-top: 2vh;
        border-radius: 1vh;
    }
    #texto-formulario{
        width: 85vw;
        height: 25vh;
        margin-left: 3.8vw;
        margin-top: 2vh;
        border-radius: 1vh;
    }
    .botao{
        margin-left: 3.8vw;
        margin-top: 1vh;
        padding-bottom: 0.7%;
        background-color: #FFB571;
        border-radius: 10vh;
        width: 10vw;
        font-family: 'Kaisei Decol', serif;
        font-size: 2vw;
    }
    footer{
        background-color: #FFB571;
    }
    #logo2{
        width: 40vw;
        margin-left: 29.2vw;
    }
    #logo{
        padding-left: 1vw;
        width: 25vw;
    }
    #social{
        margin-top: 7vh;
        margin-bottom: 9vh;
        width: 100%;
        justify-content: space-evenly;
        display: flex;
    }
    #social img{
        width: 7vw;
    }
    #colunas{
        display: table;
    }
    #colunas img{
        width: 40vw;
        height: 28vw;
        margin-left: 4.5vw;
    }
    .coluna1{
        float: left;
        width: 50%;
    }
    .coluna2{
        float: left;
        width: 50%;
    }
    .bebidas{
        display: none;
    }
    #menu-bar{
        display: none;
    }
    .navbar{
        display: none;
    }
    #menu-hamburger{
        display: none;
    }
}